<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" href="./assets/style/tailwind.css">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <nav class="pt-10">
    <div class="md:max-w-2xl xl:max-w-screen-lg m-auto flex justify-between items-center ali mb-9">
      <h1><a href="#" class="text-2xl font-bold hover:text-primaryColor-dark1">WOWOROOM</a></h1>
      <ul class="flex  text-xl">
        <li><a href="#" class="mr-12 hover:text-primaryColor">床墊優勢</a></li>
        <li><a href="#" class="mr-12 hover:text-primaryColor">好評推薦</a></li>
        <li><a href="#" class="mr-12 hover:text-primaryColor">運送方式</a></li>
        <li><a href="#" class="hover:text-primaryColor">立即預訂</a></li>
      </ul>
    </div>
    <div class="w-full h-9 bg-black"></div>
  </nav>



  <%- contents %>

    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- validate.js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/config.js"></script>
    <script src="./assets/js/index.js"></script>
</body>

</html>