@layer utilities {
  // Banner 標題
  .bannerSlogan::before{
    content: "窩窩家居\A 跟您一起品味生活";
    white-space: pre;
    color: white;
    position: absolute;
    font-size: 2rem;
    left: 52px;
    bottom: 48px;
    z-index: 99;
  }

  // 商品卡片右上新品標籤
  .newArrival::before{
    content: "新品";
    font-size: 20px;
    background-color: black;
    color: white;
    padding: 8px 24px;
    position: absolute;
    right: -4px;
    top: 12px;
    z-index: 1;
  }

  // 預定表單 - 姓名：必填
  .necessary::before{
    content: attr(data-text);
    width: 150px;
    color: #C72424;
    position: absolute;
    left: 360px;
    top: 35px;
    z-index: 1;
  }
}